name: ci

on:
  pull_request:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Test Docker Image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64
          tags: ksync:test
